{
  "presets": [
    [
      "@babel/env",
      {
        // "useBuiltIns": "usage",
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": ["**/*.d.ts"],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}